@CHARSET "UTF-8";

.blue-gradient{
	background: -moz-linear-gradient(top,  rgba(0,113,252,0.65) 31%, rgba(0,113,252,0.15) 83%, rgba(0,0,0,0) 98%);
	background: -webkit-linear-gradient(top,  rgba(0,113,252,0.65) 31%,rgba(0,113,252,0.15) 83%,rgba(0,0,0,0) 98%);
	background: linear-gradient(to bottom,  rgba(0,113,252,0.65) 31%,rgba(0,113,252,0.15) 83%,rgba(0,0,0,0) 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a60071fc', endColorstr='#00000000',GradientType=0 );
	
}

.text-center {
	text-align: center;
}

.centralizar {
	margin: 0 auto;
	width: 40%;
	padding: 5px;
}
.margin-topo-padrao{
	margin-top: 5%;
}

.navbar-font {
	font-family: 'Ubuntu', sans-serif;
	
	color: white;
}

.black {
	color: black;
}

.red {
	color: red;
}

.hidden{
	 overflow: hidden
}

.navbar-link-override:hover{
	color:#1fef24;
}

.informacoes-obrigatorias{
	font-size: 13px;
}