<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/leayout">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
<link href='https://fonts.googleapis.com/css?family=Ubuntu:500'
	rel='stylesheet' type='text/css' />
<meta charset="UTF-8" />
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Home</title>
</head>
<body>
	<div class="navbar blue-gradient navbar-fixed-top">
		<div class="container">
			<p class="navbar-text">
				<a th:href="@{/}"
					class="navbar-link-override navbar-link  navbar-font"
					style="text-decoration: none">Início </a> 
			</p>
			<p class="navbar-text">
				<a th:href="${'/clientes'}"
					class="navbar-link-override navbar-link  navbar-font"
					style="text-decoration: none"> Lista de clientes </a>
			</p>
		</div>
	</div>
	
	<div layout:fragment = "content"> </div>
	
</body>
</html>