@{
    ViewBag.Title = "Página Inicial";
}

<h2>Locadora CWI Crescer</h2>

<form id="nomePesquisa" action="@Url.Action("JogosDisponiveis", "Relatorio")" method="post">
    <input type="text" placeholder="Nome do jogo para pesquisa: " name="nome" />
    <input type="submit" value="Pesquisar" />
</form>
<img src="~/Content/Image/locadora.jpg" />

