<!DOCTYPE html>
<html 	
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout">
<head>
	<link rel="stylesheet" type="text/css" href="/css/home.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:500'
		rel='stylesheet' type='text/css' />
	<meta charset="UTF-8" />
	<title>Exibição de produtos</title>
</head>
<body>

	<div  th:if="${not #lists.isEmpty(produtos)}" layout:fragment="content">
        <form class="navbar-left form-inline" name="form" th:action="${'/produtos/buscar'}" method="get">
			 <p class="form-group">
		 		<label class="control-label">Serviço: </label>
		 		<select name="servico" >
		 			<option th:value="${null}">Selecione...</option>
	                <option th:each="s : ${servicos}" th:text="${s.descricao}" th:value="${s.idServico}" ></option>
	            </select>
            </p>
            
		 	<p class="form-group">
		 		<label class="control-label">Material: </label>
		 		<select name="material">
		 			<option th:value="${null}">Selecione...</option>
	                <option th:each="m : ${materiais}" th:text="${m.descricao}" th:value="${m.idMaterial}" ></option>
	            </select>
            </p>
				<input type="submit" id="filter" value="Pesquisar" class="btn btn-default" />
		</form>        
		<p sec:authorize="isAuthenticated()" class="navbar-text pull-right">
				<form class="navbar-right" th:action="@{produtos/cadastrar}" method="GET">
        	        <button class="navbar-btn btn btn-default" type="submit">Cadastrar</button>
            	</form>
		</p>
		
        <table class="table">
        
            <tr>
                <th>Valor</th>
                <th>Material</th>
                <th>Servico</th>
                <th>Situação</th>
                <th>Editar</th>
            </tr>
            <tr th:each="produto : ${produtos}" >
                <td  th:text="${produto.valor}"></td>
		 		<td  th:text="${produto.material}"></td>
		 		<td  th:text="${produto.servico}"></td>
		 		<td  th:text="${produto.situacao}"></td>
		 		<td><a th:href="${'/produtos/editar/' + produto.idProduto}">Editar</a></td>
            </tr>
            
        </table>

    </div>
</body>
</html>