<!DOCTYPE html>
<html 	
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout">
<head>
	<link rel="stylesheet" type="text/css" href="/css/home.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:500'
		rel='stylesheet' type='text/css' />
	<meta charset="UTF-8" />
	<title>Exibição de produtos</title>
</head>
<body>

	<div  class="margin-topo-padrao" th:if="${not #lists.isEmpty(produtos)}" layout:fragment="content">
        
        <form name="form"  th:action="${'/clientes/listaPorNome'}" method="GET">
			<input type="text" name="nomeCliente" placeholder="Nome cliente" />
			<input type="submit" id="pesquisar" value="Pesquisar" />
		</form>
        
		<div th:if='${mensagem} != null'>
			<p th:text="${mensagem}"></p>
		</div>
		
		<p sec:authorize="isAuthenticated()" class="navbar-text pull-right">
				<form class="navbar-right" th:action="@{produtos/cadastrar}" method="GET">
        	        <button class="navbar-btn btn btn-default" type="submit">Cadastrar</button>
            	</form>
		</p>
		
        <table class="table">
        
            <tr>
                <th>Valor</th>
                <th>Material</th>
                <th>Situação</th>
                <th>Editar</th>
            </tr>
            <tr th:each="produto : ${produtos}" >
                <td  th:text="${produto.valor}"></td>
		 		<td  th:text="${produto.material}"></td>
		 		<td  th:text="${produto.situacao}"></td>
		 		<td><a th:href="${'/produtos/editar/' + produto.idProduto}">Editar</a></td>
            </tr>
            
        </table>

    </div>
</body>
</html>