<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout">
<head>
	<link rel="stylesheet" type="text/css" href="/css/Home.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:500'
		rel='stylesheet' type='text/css' />
<meta charset="UTF-8"/>
<title>Cadastro de clientes</title>
</head>
<body>
		<form class="margin-topo-padrao blue-gradient centralizar" th:object="${cliente}" method="post"  th:action="@{/clientes/editar}" layout:fragment="content">

			<p th:classappend="${#fields.hasErrors('nome')}">
				<label class="red">*</label>
				<label class="control-label">Nome: </label>
				<input class="form-control" th:field="*{nome}" type="text"/>
				<span th:errors="*{nome}"></span>
			</p>
			
			<p th:classappend="${#fields.hasErrors('cpf')}">
				<label class="red">*</label>
				<label class="control-label">CPF: </label>
		 		<input class="form-control" th:field="*{cpf}" type="text"/>
		 		<span th:errors="*{cpf}"></span>
			</p>

			<p th:classappend="${#fields.hasErrors('email')}">
				<label class="red">*</label>
		 		<label class="control-label">Email: </label>
		 		<input class="form-control" th:field="*{email}" type="text"/>
		 		<span th:errors="*{email}"></span>
	 		</p>
			
			<p th:classappend="${#fields.hasErrors('cep')}">
		 		<label class="control-label">CEP: </label>
		 		<input class="form-control" th:field="*{cep}" type="text"/>
		 		<span th:errors="*{cep}"></span>
	 		</p>
	 		
	 		<p>
		 		<label class="control-label">Endereco: </label>
		 		<input class="form-control" th:field="*{endereco}" type="text"/>
	 		</p>
	 		
	 		<p>
		 		<label class="control-label">Bairro: </label>
		 		<input class="form-control" th:field="*{bairro}" type="text"/>
	 		</p>
	 		
	 		<p>
		 		<label class="control-label">Cidade: </label>
		 		<select class="form-control" th:field="*{idCidade}">
	                <option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" ></option>
	            </select>
            </p>
             
             
             <p class="red informacoes-obrigatorias">**Campos com asterísco(*) são obrigatórios.</p>
             
             <button type="submit">Cadastrar</button>
             
		</form>
</body>
</html>