<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		layout:decorator="layout">
<head>
	<link rel="stylesheet" type="text/css" href="/css/Home.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:500'
		rel='stylesheet' type='text/css' />
<meta charset="UTF-8"/>
<title>Edição de clientes</title>
</head>
<body>
	<h2>Visualizar</h2>
	<div class="blue-gradient centralizar">		
		<form th:object="${cliente}" method="post"  th:action="@{/clientes/editar}" layout:fragment="content">
	
			<p class="hidden" th:classappend="${#fields.hasErrors('nome')}">
				<label class="control-label">ID: </label>
				<input class="form-control" th:field="*{id}" type="text"/>
			</p>
			
			<p th:classappend="${#fields.hasErrors('nome')}">
				<label class="control-label">Nome: </label>
				<input class="form-control" th:field="*{nome}" type="text"/>
				<span th:errors="*{nome}"></span>
			</p>
			
			<p th:classappend="${#fields.hasErrors('cpf')}">
				<label class="control-label">CPF: </label>
		 		<input class="form-control" th:field="*{cpf}" type="text"/>
		 		<span th:errors="*{cpf}"></span>
			</p>
			
			<p th:classappend="${#fields.hasErrors('email')}">
		 		<label class="control-label">Email: </label>
		 		<input class="form-control" th:field="*{email}" type="text"/>
		 		<span th:errors="*{email}"></span>
	 		</p>
	 		
	 		<p>
		 		<label class="control-label">Cidade: </label>
		 		<select class="form-control" th:field="*{idCidade}">
	                <option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" ></option>
	            </select>
            </p>
			
            <button type="submit">Salvar</button>
             
		</form>
	</div>
</body>
</html>