<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout">
<head>
	<link rel="stylesheet" type="text/css" href="/css/home.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:500'
		rel='stylesheet' type='text/css' />
<meta charset="UTF-8"/>
<title>Visualizar cliente</title>
</head>
<body>
	
		<form th:object="${cliente}" layout:fragment="content" >
		
			<div class="margin-topo-padrao blue-gradient centralizar">
	
			<p>
				<label class="control-label">ID: </label>
				<input class="form-control" th:field="*{id}" type="text" disabled="true" />
			</p>
			
			<p>
				<label class="control-label">Nome: </label>
				<input class="form-control" th:field="*{nome}" type="text" disabled="true" />
			</p>
			
			<p>
				<label class="control-label">CPF: </label>
		 		<input class="form-control" th:field="*{cpf}" type="text" disabled="true"/>
			</p>
			
			<p>
		 		<label class="control-label">Email: </label>
		 		<input class="form-control" th:field="*{email}" type="text" disabled="true"/>
	 		</p>
	 		
	 		<p>
		 		<label class="control-label">Endereco: </label>
		 		<input class="form-control" th:field="*{endereco}" type="text" disabled="true"/>
	 		</p>

			<p>
		 		<label class="control-label">Bairro: </label>
		 		<input class="form-control" th:field="*{bairro}" type="text" disabled="true"/>
	 		</p>	 		
	 		
			<p>
		 		<label class="control-label">CEP: </label>
		 		<input class="form-control" th:field="*{cep}" type="text" disabled="true"/>
	 		</p>
	 			 		
	 		<p>
		 		<label class="control-label">Cidade: </label>
		 		<select  class="form-control" th:field="*{idCidade}" disabled="true">
	                <option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" ></option>
	            </select>
            </p>
    
    	
    	</div>         
		</form>
	
</body>
</html>