<!DOCTYPE html>
<html 	
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout">
<head>
	<link rel="stylesheet" type="text/css" href="/css/home.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:500'
		rel='stylesheet' type='text/css' />
	<meta charset="UTF-8" />
	<title>Exibição de clientes</title>
</head>
<body>

<div th:if='${desativado} != null'>
<p th:text="${desativado}"></p>
</div>
	<div  class="margin-topo-padrao" th:if="${not #lists.isEmpty(clientes)}" layout:fragment="content">
        
        <table class="table">
        
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Visualizar</th>
                <th>Editar</th>
                <th>Desativar</th>
            </tr>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td th:text="${cliente.email}"></td>
                <td><a th:href="${ '/clientes/' + cliente.id}">Visualizar</a></td>
                <td><a th:href="${'/clientes/editar/' + cliente.id}">Editar</a></td>
                <td><a th:href="${'/clientes/desativar/' + cliente.id}">Desativar</a></td>
            </tr>
        </table>

    </div>
</body>
</html>