<!DOCTYPE html>
<html 	
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout">
<head>
	<link rel="stylesheet" type="text/css" href="/css/home.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:500'
		rel='stylesheet' type='text/css' />
	<meta charset="UTF-8" />
	<title>Exibição de produtos</title>
</head>
<body>

	<div  th:if="${not #lists.isEmpty(pedidos)}" layout:fragment="content">
	        
		<p sec:authorize="isAuthenticated()" class="navbar-text pull-right">
				<form class="navbar-right" th:action="@{pedidos/cadastrar}" method="GET">
        	        <button class="navbar-btn btn btn-default" type="submit">Cadastrar</button>
            	</form>
		</p>
		
        <table class="table">
        
            <tr>
                <th>Cliente</th>
                <th>Valor total</th>
                <th>Data entrega</th>
                <th>Situação</th>
            </tr>
            <tr th:each="pedido : ${pedidos}" >
                <td  th:text="${pedido.nomeCliente}"></td>
		 		<td  th:text="${pedido.valorFinal}"></td>
		 		<td  th:text="${pedido.dataEntrega}"></td>
		 		<td  th:text="${pedido.situacao}"></td>
            </tr>
            
        </table>

    </div>
</body>
</html>