@model DetalheJogoModel
@{
    ViewBag.Title = "DetalheJogo";
}

<div class="text-center">
    <h2>@Model.Nome</h2>
</div>

<div class="text-center">
    <p>@Model.Descricao</p>
</div>

<div class="text-center">
    <p>@Model.Selo</p>
</div>