@model RelatorioModel
@{
    ViewBag.Title = "JogosDisponiveis";
}

<div>
    <button nome="btnCadastrar" onclick="">Cadastrar jogo</button>
</div>

@if (Model.ListaJogos.Count > 0)
{
    <h2>JogosDisponiveis</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Detalhes
                </th>
            </tr>
        </thead>
        @foreach (var jogo in Model.ListaJogos)
        {
            <tr>
                <td><a href="~/Jogo/Manter/@jogo.Id">@jogo.Nome</a></td>
                <td>@jogo.Categoria</td>
                <td><a href="/Jogo/DetalheJogo/@jogo.Id">Detalhes do jogo</a> </td>
            </tr>
        }
    </table>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>
                    Quantidade de Jogos: @Model.QtdDeJogos
                </td>
            </tr>
        </thead>
    </table>
}
else
{
    <h2>Nenhum jogo encontrado!</h2>
}