/*==============================
            Banner
==============================*/

.banner {
  padding: 80px 20px;
  color: #fff;
  text-shadow: -2px -2px 0 #000;
  background: -moz-linear-gradient(top,  rgba(73,73,73,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  rgba(73,73,73,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(73,73,73,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(73,73,73,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(73,73,73,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
}

.banner-title{
  margin: 0;
  font-size: 62px;
  line-height: 66px;
}

.banner-text {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times;
  font-style: italic;
  font-size: 24px;
  line-height: 26px;
}
